	/* REQUIRED STYLES - the menus will only render correctly with these rules */

	.ataaMenu-container { position: absolute; top:0; left:-999px; padding: .4em;  overflow: hidden;  }
	.ataaMenu-container.ataaMenu-flyout { overflow: visible; }

	.ataaMenu, .ataaMenu ul { list-style-type:none; padding: 0; margin:0; }

	.ataaMenu { position:relative; }
	.ataaMenu-flyout .ataaMenu { position:static; }

	.ataaMenu ul { position:absolute; top:0; }
	.ataaMenu ul ul { top:-1px; }

	.ataaMenu-container.ataaMenu-ipod .ataaMenu-content,
	.ataaMenu-container.ataaMenu-ipod .ataaMenu-content ul { background: none !important; }

	.ataaMenu.ataaMenu-scroll,
	.ataaMenu ul.ataaMenu-scroll { overflow: scroll;  overflow-x: hidden; }

	.ataaMenu li { clear:both; float:left; width:100%; margin: 0; padding:0; border: 0; cursor:pointer;}
	.ataaMenu li li { font-size:1em; cursor:pointer;} /* inner li font size must be reset so that they don't blow up */

	.ataaMenu-flyout ul ul { padding: .4em; }
	.ataaMenu-flyout li { position:relative; }

	.ataaMenu-scroll { overflow: scroll; overflow-x: hidden; }

	.ataaMenu-breadcrumb { margin: 0; padding: 0; }

	.ataaMenu-footer {  margin-top: .4em; padding: .4em;  }
	.ataaMenu-header {  margin-bottom: .4em; padding: .4em; }

	.ataaMenu-breadcrumb li { float: left; list-style: none; margin: 0; padding: 0 .2em; font-size: .9em; opacity: .7;  }
	.ataaMenu-breadcrumb li.ataaMenu-prev-list,
	.ataaMenu-breadcrumb li.ataaMenu-current-crumb { clear: left; float: none; opacity: 1;  }
	.ataaMenu-breadcrumb li.ataaMenu-current-crumb { padding-top: .2em;  }

	.ataaMenu-breadcrumb li{ cursor:pointer; }
	.ataaMenu-breadcrumb li.ataaMenu-current-crumb{ cursor:default;  }

	.ataaMenu-breadcrumb div,
	.ataaMenu-breadcrumb span { float: left;   }

	.ataaMenu-footer div{ float:left; width:100%; text-decoration: none; }


	.ataaMenu-footer div span { float:left;  }


	.ataaMenu-breadcrumb .ataaMenu-prev-list div { background-image: none; text-decoration:underline;   }

	.ataaMenu-breadcrumb .ataaMenu-prev-list div { float: left; padding-right: .4em; }
	.ataaMenu-breadcrumb .ataaMenu-prev-list div .ui-icon { float: left; }


	.ataaMenu-breadcrumb .ataaMenu-current-crumb div { display:block; background-image:none; font-size:1.2em; text-decoration:none; color:#222222; }

	/* REQUIRED LINK STYLES: links are "display:block" by default; if the menu options are split into
		selectable node links and 'next' links, the script floats the node links left and floats the 'next' links to the right	*/


	.ataaMenu div { float:left; width:92%; padding:.3em 3%; padding-bottom:.3em; text-decoration:none; outline: 0 !important; }

	.ataaMenu div { border: 1px solid white; }

	.ataaMenu div.ui-state-default:link,
	.ataaMenu div.ui-state-default:visited,
	.ataaMenu div.ui-state-default:hover,
	.ataaMenu div.ui-state-default:active,
	.ataaMenu div.ui-state-hover:link,
	.ataaMenu div.ui-state-hover:visited,
	.ataaMenu div.ui-state-hover:hover,
	.ataaMenu div.ui-state-hover:active,
	.ataaMenu div.ui-state-active:link,
	.ataaMenu div.ui-state-active:visited,
	.ataaMenu div.ui-state-active:hover,
	.ataaMenu div.ui-state-active:active { border-style: solid; font-weight: normal; }

	.ataaMenu div span { display:block; cursor:pointer; }


	 /* SUGGESTED STYLES - for use with jQuery UI Themeroller CSS */

	.ataaMenu-indicator span { float:left; }
	.ataaMenu-indicator span.ui-icon { float:right; }

	.ataaMenu-content.ui-widget-content,
	.ataaMenu-content ul.ui-widget-content { border:0;}

	/* ICONS AND DIVIDERS */


	.ataaMenu.ataaMenu-has-icons div { padding-left:20px; }

	.ataaMenu .horizontal-divider hr, .ataaMenu .horizontal-divider span { padding:0; margin:5px .6em; }
	.ataaMenu .horizontal-divider hr { border:0; height:1px; }
	.ataaMenu .horizontal-divider span { font-size:.9em; text-transform: uppercase; padding-left:.2em; }


	.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }

	.ataaMenu-button { color:#ffffff; display:inline; float:left; clear:left; margin:0px; padding:2px 0px 2px 0px; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.ataaMenu-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	div.ataaMenu-button{width:auto; color:#02458f; font-size:1em; font-weight:bold;  }

	/*button.ataaMenu-button { width:auto; overflow:visible; } /* removes extra button width in IE */

	.ataaMenu-button-icon-left { padding-left: 1.9em; }
	.ataaMenu-button-icon-right { padding-right: 1.9em; }
	.ataaMenu-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.ataaMenu-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	.ataaMenu-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */

	.ataaMenu-button .ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0; }

	.iconoM{margin-left:2px;}

    /* Component containers
	----------------------------------*/
	.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em/*{fsDefault}*/; }
	.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
	.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff; color: #222222/*{fcContent}*/; }
	.ui-widget-content div { color: #222222/*{fcContent}*/; }
	.ui-widget-header { border-bottom: 2px solid #aaaaaa/*{borderColorHeader}*/; /*background: #cccccc;*/ color: #222222/*{fcHeader}*/; font-weight: bold; margin-top:1em; padding-bottom:1.5em; cursor:default;  }
	.ui-widget-header div { color: #02458f;/*{fcHeader}*/ text-decoration:underline; }

	/* Interaction states
	----------------------------------*/
	.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #ffffff; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; outline: none; }
	.ui-state-default div { color: #555555/*{fcDefault}*/; text-decoration: none; outline: none;  }
	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; outline: none; }
	.ui-state-hover div, .ui-state-hover div:hover { color: #212121/*{fcHover}*/; text-decoration: none; outline: none;  }
	.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #e6e6e6/*{bgColorActive}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; outline: none; }
	.ui-state-active div { color: #212121/*{fcActive}*/; outline: none; text-decoration: none; }

	/* Interaction Cues
	----------------------------------*/
	.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
	.ui-state-highlight div, .ui-widget-content .ui-state-highlight div { color: #363636/*{fcHighlight}*/; }
	.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
	.ui-state-error div, .ui-widget-content .ui-state-error div{ color: #cd0a0a/*{fcError}*/; }
	.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
	.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
	.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
	.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

	/* Icons
	----------------------------------*/

	/* states and images */
	.ui-icon { width: 16px; height: 16px; background-image: url(images/ataa_es_web_pub/ui-icons_808080_256x240.png); }
	.ui-widget-content .ui-icon {background-image: url(images/ataa_es_web_pub/ui-icons_808080_256x240.png); }

	.ui-widget-header .ui-icon {background-image: url(images/ataa_es_web_pub/ui-icons_e7e6e4_256x240.png); }
	.ui-state-default .ui-icon { background-image: url(images/ataa_es_web_pub/ui-icons_eeeeee_256x240.png); }

	.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ataa_es_web_pub/ui-icons_ffffff_256x240.png); }

	.ui-state-active .ui-icon {background-image: url(images/ataa_es_web_pub/ui-icons_808080_256x240.png); }
	.ui-state-highlight .ui-icon {background-image: url(images/ataa_es_web_pub/ui-icons_808080_256x240.png); }

	.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ataa_es_web_pub/ui-icons_cd0a0a_256x240.png); }

	/* positioning */
	.ui-icon-carat-1-n { background-position: 0 0; }
	.ui-icon-carat-1-ne { background-position: -16px 0; }
	.ui-icon-carat-1-e { background-position: -32px 0; }
	.ui-icon-carat-1-se { background-position: -48px 0; }
	.ui-icon-carat-1-s { background-position: -64px 0; }
	.ui-icon-carat-1-sw { background-position: -80px 0; }
	.ui-icon-carat-1-w { background-position: -96px 0; }
	.ui-icon-carat-1-nw { background-position: -112px 0; }
	.ui-icon-carat-2-n-s { background-position: -128px 0; }
	.ui-icon-carat-2-e-w { background-position: -144px 0; }
	.ui-icon-triangle-1-n { background-position: 0 -16px; }
	.ui-icon-triangle-1-ne { background-position: -16px -16px; }
	.ui-icon-triangle-1-e { background-position: -32px -16px; }
	.ui-icon-triangle-1-se { background-position: -48px -16px; }
	.ui-icon-triangle-1-s { background-position: -64px -16px; }
	.ui-icon-triangle-1-sw { background-position: -80px -16px; }
	.ui-icon-triangle-1-w { background-position: -96px -16px; }
	.ui-icon-triangle-1-nw { background-position: -112px -16px; }
	.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
	.ui-icon-triangle-2-e-w { background-position: -144px -16px; }



	/*<!-- style exceptions for IE 6 -->
	<!--[if IE 6]>*/
		.ataaMenu-ipod .ataaMenu li { width: 90%; }
		.ataaMenu-ipod .ui-widget-content { border:0; }
	/*<![endif]-->	*/
