<!--

"idCuenta":"1",
"idCliente":"1",
"fechaGen":"2015-06-11T17:59:32.203Z",
"crGestor":"CR-SUC-01",
"nomSucursal":"ARQUIMIDES",
"cenSup":"CEN-SUP-01",
"division":"division 1",
"estado":"DF"
 -->
<div class="container">

<div class="TituloVentana"><h3>Usuario nuevo</h3></div>

  <form role="form">
    <div class="form-group">
      <label for="userId">ID:</label>
      <input class="form-control" id="userId" placeholder="Inserta tu número de empleado">
    </div>
    <div class="form-group">
      <label for="fullName">Nombre:</label>
      <input class="form-control" id="fullName" placeholder="Inserta nombre completo">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Inserta tu email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Inserta password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
